# Oculta o arquivo de variáveis de ambiente
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor de código (VSCode)
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
